body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-items {
    display: flex;
    align-items: center;
    gap: 27px;
    padding-right: 79px;
}
.header-img {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-img:hover :nth-child(1) {
    fill: #3CB878;
}
.header-title {
    font-weight: 700;
    font-size: 22px;
    padding-left: 79px;
}
.link a:hover {
    color: #3CB878;
}
.header-login {
    position: relative;
}
.header-login::before {
    content: '';
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    top: 0px;
    right: 210px;
    position: absolute;
    width: 1px;
    height: 19px;
}
.singup-form {
    position: relative;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    margin-top: 54px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px 60px;
}
.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-title h1::before {
    content: '';
    display: block;
    position: absolute;
    top: 33px;
    left: 0px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.form-title h1 {
    font-size: 20px;
    color: #434343;
}
.form-title a {
    font-size: 14px;
    color:#3CB878;
}
.form-title a:hover {
    text-decoration: underline;
    color: #01813F;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background-color: #305DB8;
    padding: 0px 27px 0px 12px;
    margin-top: 16px;
    cursor: pointer;
    position: relative; 
    transition-duration: .3s;
}
.google img {
    width: 30px;
    height: 19px;
}
.facebook img {
    width: 13px;
    height: 24px;
}
.google:hover {
    background-color: #AB1F09;
}
.facebook:hover {
    background: #022263;
}
.google h3::before {
    content: '';
    background: #2B0D09;
    opacity: 0.1;
    top: 10px;
    left: 49px;
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
}
.facebook h3::before {
    content: '';
    background: #0A162F;
    opacity: 0.1;
    top: 10px;
    left: 43px;
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
}
.google {
    background-color: #DF4A32;
}
.buttons h3 {
    font-size: 16px;
}
legend {
    position: relative;
    margin: 0 auto;
    color: #848484;
    padding-top: 31px;
    font-size: 14px;
}
legend::before {
    content: '';
    position: absolute;
    display: block;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    top: 40px;
    left: -155px;
}
legend::after {
    content: '';
    position: absolute;
    display: block;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    top: 40px;
    left: 15px;
}
.input-area {
    font-size: 14px;
    color: #434343;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 322px;
    height: 44px;
    padding-left: 19px;
    margin-top: 14px;
    transition: 0.2s;
}
.input-area::placeholder {
    color: #BEBEBE;
    font-size: 14px;
}
.input-area:focus {
    font-size: 14px;
    color: #434343;
    transition: 0.2s;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
label {
    color:#434343;
}
.checkbox-link {
    color: #3CB878;
}
.checkbox-link:hover {
    text-decoration: underline;
    color: #3CB878;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    margin-top: 12px;
    cursor: pointer;
}
.custom-checkbox+label::before {
    content:'';
    display: inline-block;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    margin-right: 8px;

}
.custom-checkbox:checked+label::before {
    background-image: url("../img/check-green.svg");
    background-size: auto;
}
.button-submit {
    text-align: center;
    color: #fff;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    height: 46px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: .3s;
}
.button-submit:hover {
    background:#01813F;
}
